.sw?
.*.sw?
*.tmp
*~
*.beam
/.erlang.mk/
/cover/
/deps/
/doc/
/ebin/
/escript/
/escript.lock
/logs/
/plugins/
/plugins.lock
/sbin/
/sbin.lock
/xrefr

*.d
*.dump
erl_crash.dump
.DS_Store

/user.bazelrc
/bazel-*

/.vscode/
.idea/
